<script id="project_miniform" type="text/x-handlebars-template">
    <div>
        Project name:<h5>{{ttl}}</h5>. Works done:<h5>{{worksdone}}</h5>.
        <br>
        add new proj: <input class="proj-name" name="name" test="tst" type="text" placeholder="{{ttl}}">; <input class="proj-worksdone" name="name" type="text" placeholder="{{worksdone}}">.




    </div>
        
</script>
